<div class="row main-menu">
    <span id="brand">MyTravelPlanner</span>
    <ul>
        <li>
            <a href="{% url 'home' %}">
                <i class="fas fa-power-off" title="Logout"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'home' %}">
                <i class="fas fa-user" title="My Profile"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'home' %}">
                <i class="fas fa-bus" title="My Tours"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'home' %}" title="Dashboard">
                <i class="fas fa-home"></i>
            </a>
        </li>
    </ul>
</div>