
{% load static %}
{% load custom_tags %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {% include 'styles.html' %}

</head>
<body>
    <div class="container-fluid">
        <!-- <div class="row main-menu">
            <span id="brand">MyTravelPlanner</span>
        </div> -->

        {% include 'header.html' %}

        <!-- Message Box -->

        {% include 'alert_messages.html' %}

        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <table class="table table-bordered table-reponsive">
                    <tr>
                        <th colspan="7">Travel Plans for today - {{current_date}}</th>
                    </tr>
                    <tr>
                        <th>Tour</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Travel Mode</th>
                        <th>Travel Class</th>
                        <th>No. Of Adults</th>
                        <th>No. Of Children</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table> 
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  col-sm-12" style="margin:10px 0px;">
                <div class="card" style="padding:0px; height:290px; border:0px;">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #434343; color:#ffffff;">
                        My Calendar
                        <button type="button" class="btn btn-sm bordered-button" style="float:right;padding:0px 5px;" data-bs-toggle="offcanvas" data-bs-target="#tourCreatePlanModal-1">
                            Add Plan
                        </button>
                    </div>
                    <div class="card-body card-border" style="padding:0px;height:230px; overflow-y:auto;" id="myCalendar">
                        {{ calendar|safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="margin:10px 0px;">
                <div class="card" style="padding:0px; height:290px; border:0px;">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #434343; color:#ffffff;;">
                        Upcoming Tour Plans
                        <button type="button" class="btn btn-sm bordered-button" style="float:right;padding:0px 5px;">
                            View All
                        </button>
                    </div>
                    <div class="card-body card-border" style="padding:0px;height:230px; overflow-y:auto;">
                        <table id="upcoming_tourdata" class="table table-responsive table-bordered" style="margin:0px;">
                            <tbody>
                                <tr> 
                                    <th>Source</th> 
                                    <th>Destination</th> 
                                    <th>Created On</th> 
                                    <th>Planned Date</th> 
                                    <th>Planned Till</th> 
                                    <th>Action</th> 
                                </tr>
                                {% for row in upcoming_tours %}
                                    <tr>
                                        <td>{{row.source|upper}}</td>
                                        <td>{{row.destination|upper}}</td>
                                        <td>{{row.created_on|date_format}}</td>
                                        <td>{{row.plan_to_start_on}}</td>
                                        <td>{{row.plan_end_date}}</td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'tour_next_step' row.id %}" style="text-decoration: none; color:#000000;">
                                                <i class="fas fa-pencil" title="Edit Record" style="cursor:pointer;"></i>
                                            </a>
                                            <a href="{% url 'delete_tour' row.id %}" style="color:#000000;"></a>
                                                <i class="fas fa-trash" title="Delete Record" style="cursor:pointer; color:#ff0000; margin-left:10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12" style="margin:10px 0px;">
                <div class="card" style="padding:0px; height:290px; border:0px;">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #434343; color:#ffffff;">
                        Completed Tours
                        <button type="button" class="btn btn-sm bordered-button" style="float:right;padding:0px 5px;">
                            View All
                        </button>
                    </div>
                    <div class="card-body card-border" style="padding:0px; height:230px; overflow-y:auto;">
                        <table id="latest_tourdata" class="table table-responsive table-bordered" style="margin:0px;">
                            <tbody>
                                <tr> 
                                    <th>Source</th> 
                                    <th>Destination</th> 
                                    <th>Created On</th> 
                                    <th>Planned For</th> 
                                    <th>Tour Start date</th> 
                                    <th>Tour End Date</th> 
                                    <th>Action</th> 
                                </tr>
                                {% for row in completed_tours %}
                                    <tr>
                                        <td>{{row.source|upper}}</td>
                                        <td>{{row.destination|upper}}</td>
                                        <td>{{row.created_on|date_format}}</td>
                                        <td>{{row.plan_to_start_on|default_if_none:'NA'}}</td>
                                        <td>{{row.travel_start_date|default_if_none:''}}</td>
                                        <td>{{row.travel_end_date|default_if_none:''}}</td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'delete_tour' row.id %}" style="color:#000000;">
                                                <i class="fas fa-trash" title="Delete Record" style="cursor:pointer; color:#ff0000; margin-left:10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="margin:10px 0px;">
                <div class="card" style="padding:0px; height:290px; border:0px;">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #434343; color:#ffffff;">
                        Planned But Not Started
                        <button type="button" class="btn btn-sm bordered-button" style="float:right;padding:0px 5px;">
                            View All
                        </button>
                    </div>
                    <div class="card-body card-border" style="padding:0px;">
                        <table id="onhold_tourdata" class="table table-responsive table-bordered" style="margin:0px;">
                            <tbody>
                                <tr> 
                                    <th>Source</th> 
                                    <th>Destination</th> 
                                    <th>Created On</th> 
                                    <th>Planned For</th> 
                                    <th>On Hold</th> 
                                    <th>Action</th> 
                                </tr>
                                {% for row in unfinished_tours %}
                                    <tr>
                                        <td>{{row.source|upper}}</td>
                                        <td>{{row.destination|upper}}</td>
                                        <td>{{row.created_on|date_format}}</td>
                                        <td>{{row.plan_to_start_on}}</td>
                                        <td style="text-align:center;">{% tick_mark row.put_on_hold %}</td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'tour_next_step' row.id %}" style="color:#000000;">
                                                <i class="fas fa-pencil" title="Edit Record" style="cursor:pointer;"></i>
                                            </a>
                                            <a href="{% url 'tour_next_step' row.id %}" style="color:#000000;">
                                                <i class="fas fa-trash" title="Delete Record" style="cursor:pointer; color:#ff0000; margin-left:10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12" style="margin:10px 0px;">
                <div class="card" style="padding:0px; height:290px; border:0px;">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #434343; color:#ffffff;">
                        On-Going Tours
                        <button type="button" class="btn btn-sm bordered-button" style="float:right;padding:0px 5px;">
                            View All
                        </button>
                    </div>
                    <div class="card-body card-border" style="padding:0px; height:230px; overflow-y:auto;">
                        <table id="latest_tourdata" class="table table-responsive table-bordered" style="margin:0px;">
                            <tbody>
                                <tr> 
                                    <th>Source</th> 
                                    <th>Destination</th> 
                                    <th>Created On</th> 
                                    <th>Planned For</th> 
                                    <th>Tour Start date</th> 
                                    <th>Tour End Date</th> 
                                    <th>Action</th> 
                                </tr>
                                {% for row in on_going_tours %}
                                    <tr>
                                        <td>{{row.source|upper}}</td>
                                        <td>{{row.destination|upper}}</td>
                                        <td>{{row.created_on|date_format}}</td>
                                        <td>{{row.plan_to_start_on|default_if_none:'NA'}}</td>
                                        <td>{{row.travel_start_date|default_if_none:''}}</td>
                                        <td>{{row.travel_end_date|default_if_none:''}}</td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'tour_next_step' row.id %}" style="color:#000000;">
                                                <i class="fas fa-pencil" title="Edit Record" style="cursor:pointer;"></i>
                                            </a>
                                            <a href="{% url 'delete_tour' row.id %}" style="color:#000000;">
                                                <i class="fas fa-trash" title="Delete Record" style="cursor:pointer; color:#ff0000; margin-left:10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="margin:10px 0px;">
                <div class="card" style="padding:0px; height:290px; border:0px;">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #434343; color:#ffffff;">
                        Cancelled Tours
                        <button type="button" class="btn btn-sm bordered-button" style="float:right;padding:0px 5px;">
                            View All
                        </button>
                    </div>
                    <div class="card-body card-border" style="padding:0px;">
                        <table id="onhold_tourdata" class="table table-responsive table-bordered" style="margin:0px;">
                            <tbody>
                                <tr> 
                                    <th>Source</th> 
                                    <th>Destination</th> 
                                    <th>Created On</th> 
                                    <th>Planned For</th> 
                                    <th>Cancelled On</th> 
                                    <th>Action</th> 
                                </tr>
                                {% for row in cancelled_tour %}
                                    <tr>
                                        <td>{{row.source|upper}}</td>
                                        <td>{{row.destination|upper}}</td>
                                        <td>{{row.created_on|date_format}}</td>
                                        <td>{{row.plan_to_start_on}}</td>
                                        <td>{{row.modified_on|date_format}}</td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'delete_tour' row.id %}" style="color:#000000;">
                                                <i class="fas fa-trash" title="Delete Record" style="cursor:pointer; color:#ff0000; margin-left:10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #57657d; color:#ffffff; padding: 20px 20px;">
        <div class="row">
            <div class="col-md-4 col-sm-12" style="padding: 0px 3px; margin-top:10px;">
                <div calss="card">
                    <div class="card-header card-border" style="background-color: #eb9a07; color:#000000; font-weight: bold;">
                        Mode of Transport
                    </div>
                    <div class="card-body card-border" style="padding: 5px 20px;background-color: #fff;">
                        <div class="row">
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #213593; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Flight
                                    </div>
                                    <div class="card-body no-border tiles">
                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #364443; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Train
                                    </div>
                                    <div class="card-body no-border tiles">
                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #199900; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Bus
                                    </div>
                                    <div class="card-body no-border tiles">
                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #60726c; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Car
                                    </div>
                                    <div class="card-body no-border tiles">
                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #5f038f; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Bike
                                    </div>
                                    <div class="card-body no-border tiles">
                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #db6744; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Rental
                                    </div>
                                    <div class="card-body no-border tiles">
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" style="padding: 0px 3px; margin-top:10px;">
                <div calss="card">
                    <div class="card-header card-border" style="background-color: #eb9a07; color:#000000; font-weight: bold;">
                        Tour Analysis
                    </div>
                    <div class="card-body card-border" style="padding: 5px 20px;background-color: #fff;">
                        <div class="row">
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #8e0cdf; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Planned
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.planned_tours }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card  no-border" style="height:100px; background-color: #4b5fed; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Completed
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.travelled_tours }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #3b427a; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        On-hold
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.on_hold_tours }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #7c7a7c; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Total Budget
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.total_budget }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #228d8d; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Total Spent
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.total_spent }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #005670; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Total Distance
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.total_distance }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12" style="padding: 0px 3px; margin-top:10px;">
                <div calss="card">
                    <div class="card-header card-border" style="background-color: #eb9a07; color:#000000; font-weight: bold;">
                        Distance & Budget Analysis
                    </div>
                    <div class="card-body card-border" style="padding: 5px 20px;background-color: #fff;">
                        <div class="row">
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #535a7c; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Highest Budget
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.highest_budget }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #286a64; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Lowest Budget
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.lowest_budget }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #375032; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Highest Spent
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.highest_spent }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #00975f; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Lowest Spent
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.lowest_spent }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #fd5b6a; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Longest Travel
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.longest_travel }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6" style="margin:5px 0px; padding:0px 3px;">
                                <div class="card no-border" style="height:100px; background-color: #8f840b; color:#FFFFFF;">
                                    <div class="card-header no-border title-font">
                                        Shortest Travel
                                    </div>
                                    <div class="card-body no-border tiles">
                                        {{ tour_counters.shortest_travel }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    </div>

    <!-- Canvas for Add Tour -->

    <div class="offcanvas offcanvas-end w-50" style="width:500px;" tabindex="-1" id="tourCreatePlanModal-1" aria-labelledby="offcanvasRightLabel">
        <form id="tourCreateForm" action="{% url 'add_tour' %}" method="post" class="form">
            <div class="offcanvas-header light-orange-bg">
                <h6 id="offcanvasRightLabel">Create a new Tour Plan</h6>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style="overflow-y: auto; height:100%">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="id_source" class="form-label">Source</label>
                        {{ tour_plan_form.source|safe }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_destination" class="form-label">Destination</label>
                        {{ tour_plan_form.destination|safe }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="id_plan_to_start_on" class="form-label">Planned To Start On</label>
                        {{ tour_plan_form.plan_to_start_on|safe }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_budget" class="form-label">Planned For No.of Days</label>
                        {{ tour_plan_form.planned_no_days|safe }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="id_no_of_adults" class="form-label">No. of Adults</label>
                        {{ tour_plan_form.no_of_adults|safe }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_no_of_children" class="form-label">No. of Children</label>
                        {{ tour_plan_form.no_of_children|safe }}
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-md-6">
                        <label for="id_budget" class="form-label">Budget</label>
                        {{ tour_plan_form.budget|safe }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_put_on_hold" class="form-label">Put On-hold</label>
                        {{ tour_plan_form.put_on_hold|safe }}
                    </div>
                </div>

            </div>
            <div class="offcanvas-footer canvas-footer">
                <button type="button" class="btn btn-sm bordered-button" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm bordered-button" onclick="add_form()">Save changes</button>
            </div>
        </form>
    </div>

    <!-- Edit Canvas -->

    <div class="offcanvas offcanvas-end" style="width:50%;" tabindex="-1" id="edit_canvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">Edit Tour</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" 
            aria-label="Close">
            </button>
        </div>
        <div class="offcanvas-body">
            <form id="tourEditForm" action="" method="post" class="form">
                <div class="row">
                    <div class="col-md-4">
                        <label for="edit_source" class="form-label">Source</label>
                        <input class="form-control form_fields" type="text" id="edit_source" value="" readonly>
                    </div>
                    <div class="col-md-4">
                        <label for="edit_destination" class="form-label">Destination</label>
                        <input class="form-control form_fields" type="text" id="edit_destination" value="" readonly>
                    </div>
                    <div class="col-md-4">
                        <label for="edit_planned_no_days" class="form-label">No. Of Days Planned</label>
                        <input class="form-control form_fields" type="text" id="edit_planned_no_days" value="" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="edit_plan_to_start_on" class="form-label">Planned To Start On</label>
                        <input class="form-control form_fields" type="date" id="edit_plan_to_start_on" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="edit_travel_start_date" class="form-label">Started On</label>
                        <input class="form-control form_fields" type="date" id="edit_travel_start_date" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="edit_travel_end_date" class="form-label">Ended On</label>
                        <input class="form-control form_fields" type="date" id="edit_travel_end_date" value="">
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-4">
                        <label for="edit_created_on" class="form-label">Created On</label>
                        <input class="form-control form_fields" type="date" id="edit_created_on" value="" readonly>
                    </div>
                    <div class="col-md-4">
                        <label for="edit_modified_on" class="form-label">Modified On</label>
                        <input class="form-control form_fields" type="date" id="edit_modified_on" value="" readonly>
                    </div>
                    <div class="col-md-4">
                        <label for="edit_budget" class="form-label">Budget</label>
                        <input class="form-control form_fields" type="decimal" id="edit_budget" value="" readonly>
                    </div>
                </div>         
            </form>
        </div>
    </div>

    <!-- Edit Canvas -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function(){
            $("table.month").addClass("table table-responsive table-bordered");

            $("div#myCalendar").on("click", "span#month-prev-btn", function(e){
                e.preventDefault()

                month = $(this).attr("month")
                year = $(this).attr("year")

                if (month < 1) {
                    year = parseInt(year) - 1;
                    month = 12 
                }  
                
                fetch_calendar_data(year=year, month=month)
            });

            $("div#myCalendar").on("click", "span#month-next-btn", function(e){
                e.preventDefault()

                month = $(this).attr("month")
                year = $(this).attr("year")

                if (month > 12) {
                    year = parseInt(year) + 1;
                    month = 1 
                }
                
                fetch_calendar_data(year=year, month=month)
            });
        });


        function fetch_calendar_data(shift=0){
            $.get("{% url 'fetch_calendar' %}", {"month":month, "year":year}, function(data){
                $("div#myCalendar").empty().append(data);
                $("table.month").addClass("table table-responsive table-bordered");
            });
        }

        
        /*******************************************/
        // Add New Plan

        function add_form(){
            let plan_date = $("#tourCreateForm").find("#id_plan_to_start_on").val();

            $.get("{% url 'check_planned_date' %}?planned_to_start_on="+plan_date, function(data){
                if (data > 0) { 
                    let confirm_box = confirm("Tours are already planned on this date. Do you wish to continue?"); 

                    if (confirm_box == true){
                        $("#tourCreateForm").submit();
                    }
                }else { $("#tourCreateForm").submit(); }
            });
        }


        function edit_canvas(id){
            $.get("{% url 'update_tour' %}", {"id":id}, function(data){
                $("#edit_source").val(data.source.toUpperCase());
                $("#edit_destination").val(data.destination.toUpperCase());
                $("#edit_plan_to_start_on").val(data.plan_to_start_on);
                $("#edit_travel_start_date").val(data.travel_start_date);
                $("#edit_travel_end_date").val(data.travel_end_date);
                $("#edit_planned_no_days").val(data.planned_no_days);
                $("#edit_created_on").val(data.created_on);
                $("#edit_modifed_on").val(data.modified_on);
                $("#edit_budget").val(data.budget);
            });

            let edit_canvas = new bootstrap.Offcanvas(document.getElementById('edit_canvas'));
            edit_canvas.show();
        }

        
    </script>

</body>
</html>