<style>
    body{
        background-color:#ffd3976b;
    }

    .bg-red-alert{
        background-image: linear-gradient(180deg, #f33f3f, #800a0a);
        color: #FFFFFF;
        border: 1px solid #e83e3e;
    }

    .bg-green-alert{
        background-image: linear-gradient(180deg, #057017, #0d8009);
        color: #FFFFFF;
        border: 1px solid #0d8009;
    }

    #brand{
        display:inline-block;
    }

    .main-menu{
        background-color: #ffa500;
        padding:10px;
    }

    td.current_date{
        background-color: #ffd397;
        font-weight: bold;
    }

    td.planned_date{
        background-color: #bbfb8b;
        font-weight: bold;
    }

    span.planned_tour{
        display: block;
        border: #000000;
        font-size: 70%;
        font-weight:bold;
        padding:5px;
        color:#FFFFFF
    }


    td.travel_start_date{
        background-color: #ff5506;
        font-weight: bold;
        color: #FFFFFF;
    }

    .table{
        border-color: #ffd397;
        font-size:80%;
        margin:0px;
    }

    .table th{
        text-align: center;
        background-color: #8f7e6a;
        color:#ffffff;
        word-wrap: break-word;
    }

    .table td{
        word-wrap: break-word;
    }

    .form_fields{
        margin-bottom:10px;
    }

    #id_put_on_hold{
        margin-left:10px;
    }

    .canvas-footer{
        text-align: right;
        background-color: #ffd397;
        position: fixed;
        bottom: 0;
        width: -webkit-fill-available;
        padding:10px;
    }

    .bordered-button{
        border: 1px solid #fff;
        background-color: #bb7308;
        color: #fff;
    }

    .light-orange-bg{
        background-color: #ffd397;
    }

    .btn{
        font-size: 90%;
    }

    .card-border{
        border: 1px #eb9a07 solid;
    }

    card.no-border{
        border: 0px;
    }



</style>