<style>
    body{
        background-color:#ffd3976b;
    }

    .bg-red-alert{
        background-image: linear-gradient(180deg, #f33f3f, #800a0a);
        color: #FFFFFF;
        border: 1px solid #e83e3e;
    }

    .bg-green-alert{
        background-image: linear-gradient(180deg, #057017, #0d8009);
        color: #FFFFFF;
        border: 1px solid #0d8009;
    }

    #brand{
        display:contents;
    }

    .main-menu{
        background-color: #ffa500;
        padding:10px;
    }

    .main-menu > ul{
        padding:0px;
        margin:0px;
        display: inline-block;
        width: 88%;
    }

    .main-menu > ul > li{
        list-style-type: none;
        padding: 0px 10px;
        float:right;
    }

    .main-menu > ul > li > a{
        text-decoration: none;
        color:#000000;
    }

    td.current_date{
        background-color: #ffd397;
        font-weight: bold;
    }

    td.planned_date{
        background-color: #bbfb8b;
        font-weight: bold;
    }

    span.planned_tour{
        display: block;
        border: #000000;
        font-size: 70%;
        font-weight:bold;
        padding:5px;
        color:#FFFFFF;
        cursor: pointer;
    }

    td.travel_start_date{
        background-color: #ff5506;
        font-weight: bold;
        color: #FFFFFF;
    }

    .table{
        border-color: #ffd397;
        font-size:80%;
        margin:0px;
    }

    .table th{
        text-align: center;
        background-color: #8f7e6a;
        color:#ffffff;
        word-wrap: break-word;
    }

    .table td{
        word-wrap: break-word;
    }

    .form_fields{
        margin-bottom:10px;
    }

    #id_put_on_hold{
        margin-left:10px;
    }

    .canvas-footer{
        text-align: right;
        background-color: #ffd397;
        position: fixed;
        bottom: 0;
        width: -webkit-fill-available;
        padding:10px;
    }

    .bordered-button{
        border: 1px solid #fff;
        background-color: #bb7308;
        color: #fff;
    }

    .light-orange-bg{
        background-color: #ffd397;
    }

    th.white-bg, td.white-bg{
        background-color: #ffffff;
        color: #000000;
        font-weight: normal;
    }

    .btn{
        font-size: 90%;
    }

    .card-border{
        border: 1px #eb9a07 solid;
    }

    card.no-border{
        border: 0px;
    }

    .tiles{
        text-align: center;
        font-size: 15px;
        margin-top: -8px;
        font-weight: bold;
    }

    .title-font{
        font-size: 15px;
    }

    th.left-align, td.left-align{
        text-align: left;
    }

    th.right-align, td.right-align{
        text-align: right;
    }

    th.width-30, td.width-30{
        width: 30%;
    }

    th.td-orange-bg, td.td-orange-bg{
        background-color: orange;
        color: #000000;
    }

    .tab-menu{
        border-bottom: 1px solid #eb9a07;
        padding: 0px 5px;
    }

    a.active{
        background-color: #eb9a07;
        border-radius: 5px 5px 0px 0px;
        text-decoration: none;
        color: #000000;
    }

    a.nav-link{
        text-decoration: none;
        color: #000000;
    }

    a.nav-link:hover{
        text-decoration: none;
        color: #000000;
    }

    .card-header-orange{
        background-color: #ffd397;
    }

    p.error-span{
        font-size: 70%;
        display: block;
    }

    a{
        text-decoration: none;
        color:#000000;
    }


</style>