{% load static %}
{% load custom_tags %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {% include 'styles.html' %}

</head>
<body>
    <div class="container-fluid">
        <div class="row main-menu">
            <span id="brand">MyTravelPlanner</span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="card">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #ffd397;">
                        Tour Plan Basic Details
                    </div>
                    <div class="card-body card-border" style="padding:0px;"> 
                        <table class="table table-bordered table-responsive">
                            <tr>
                                <th class="left-align td-orange-bg">Source</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.source|upper}}
                                </th>
                                <th class="left-align td-orange-bg">Destination</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.destination|upper}}
                                </th>
                            </tr>
                            <tr>
                                <th class="left-align td-orange-bg">Planned On</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.plan_to_start_on|date:"d b, Y"|upper}}
                                </th>
                                <th class="left-align td-orange-bg">Planned No.of Days</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.planned_no_days}}
                                </th>
                            </tr>
                            <tr>
                                <th class="left-align td-orange-bg">No. of Adults</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.no_of_adults}}
                                </th>
                                <th class="left-align td-orange-bg">No. of Children</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.no_of_children}}
                                </th>
                            </tr>
                            <tr>
                                <th class="left-align td-orange-bg">Budget</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.budget}}
                                </th>
                                <th class="left-align td-orange-bg">Created On</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.created_on|date:"d b, Y"|upper}}
                                </th>
                            </tr>
                            <tr>
                                <th class="left-align td-orange-bg">Travel Start Date</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.travel_start_date|date:"d b, Y"|upper}}
                                </th>
                                <th class="left-align td-orange-bg">Travel End Date</th>
                                <th class="left-align white-bg width-30">
                                    {{ins.travel_end_date|date:"d b, Y"|upper}}
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin:10px 0px;">
                <div class="card">
                    <div class="card-header card-border" style="border-bottom:0px; background-color: #ffd397;">
                        Tour Plan Next Steps
                    </div>
                    <div class="card-body card-border" style="padding:10px 0px 0px 0px;">
                        <nav>
                            <div class="nav nav-underline tab-menu" id="nav-tab" role="tablist">
                                <a class="nav-link active" style="text-decoration:none; color:#000000;" id="step_1" data-bs-toggle="tab" 
                                    type="button" role="tab" aria-controls="nav-step-1" 
                                    aria-selected="true" href="#nav-step-1">
                                    Travel Start Date & Budget
                                </a>
                                <a class="nav-link" style="text-decoration:none; color:#000000;" id="step_2" data-bs-toggle="tab" 
                                    type="button" role="tab" 
                                    aria-controls="nav-step-2" aria-selected="false" href="#nav-step-2">
                                    Travel Modes
                                </a>
                                <a class="nav-link" style="text-decoration:none; color:#000000;" id="step_3" data-bs-toggle="tab" 
                                    type="button" role="tab" 
                                    aria-controls="nav-step-3" aria-selected="false" href="#nav-step-3">
                                    Via Stops
                                </a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-step-1" role="tabpanel" aria-labelledby="step_2" tabindex="0">
                                <div class="container-fluid">
                                    <form id="tourCreateForm" action="{% url 'add_update_travel_date' ins.id %}" method="post" class="form">
                                        {% csrf_token %}
                                        <input type="hidden" name="id">
                                        <div class="row" style="margin-top:10px;">
                                            <div class="col-md-6">
                                                <label for="id_tourdata-travel_start_date" class="form-label">Travel Start Date</label>
                                                {{ tour_next_form.travel_start_date|safe }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="id_tourdata-budget" class="form-label">Budget</label>
                                                {{ tour_next_form.budget|safe }}
                                            </div>

                                            <div class="row" style="margin-top:5px; margin-bottom:10px;">
                                                <div class="col-md-12">
                                                    <button class="btn btn-sm btn-success" type="submit" style="float:right;">
                                                        Submit
                                                    </button>
                                                    <button class="btn btn-sm btn-primary" type="button" 
                                                    style="float:right; margin-right: 5px;" onclick="go_to_next_tab('#nav-step-2')">
                                                        Skip
                                                    </button>
                                                </div>
                                            </div>

                                            {% include 'alert_messages.html' %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-step-2" role="tabpanel" aria-labelledby="step_3" tabindex="0">
                                <div class="container-fluid" style="padding:0px 5px;">
                                    <div class="col-md-12" style="margin-top:5px;">
                                        <table class="table table-bordered table-responsive" style="margin-top:10px; margin-bottom:10px;">
                                            <tr>
                                                <th class="left-align td-orange-bg">Source</th>
                                                <th class="left-align td-orange-bg">Destination</th>
                                                <th class="left-align td-orange-bg">Mode Of Travel</th>
                                                <th class="left-align td-orange-bg">Travel Class Type</th>
                                                <th class="left-align td-orange-bg">No. Of Adults</th>
                                                <th class="left-align td-orange-bg">Cost Per Adult</th>
                                                <th class="left-align td-orange-bg">No. Of Children</th>
                                                <th class="left-align td-orange-bg">Cost Per Child</th>
                                                <th class="left-align td-orange-bg">Distance</th>
                                                <th class="left-align td-orange-bg">Total Amount</th>
                                                <th class="left-align td-orange-bg">Action</th>
                                            </tr>
                                            {% for row in ins.travelmode.all %}
                                            <tr>
                                                <td class="left-align">{{row.travel_mode}}</td>
                                                <td class="left-align">Destination</td>
                                                <td class="left-align">Mode Of Travel</td>
                                                <td class="left-align">Travel Class Type</td>
                                                <td class="left-align">No. Of Adults</td>
                                                <td class="left-align">Cost Per Adult</td>
                                                <td class="left-align">No. Of Children</td>
                                                <td class="left-align">Cost Per Child</td>
                                                <td class="left-align">Distance</td>
                                                <td class="left-align">Total Amount</td>
                                                <td style="text-align: center;">
                                                    <i class="fas fa-pencil" title="Edit Record" style="cursor:pointer;"></i>
                                                    <i class="fas fa-trash" title="Delete Record" style="cursor:pointer; color:#ff0000; margin-left:10px;"></i>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>

                                    <div class="container-fluid" style="padding:0px;">
                                        <div class="col-md-12" style="margin-top:5px;">
                                            <table class="table table-bordered table-responsive" style="margin-top:10px; margin-bottom:10px;">
                                                <tr>
                                                    <th class="left-align td-orange-bg">Details</th>
                                                    <th class="left-align td-orange-bg"  style="width:20%">Expenditure</th>
                                                </tr>
                                                <tr>
                                                    <td>Total Amount for Adults</td>
                                                    <td class="right-align"></td>
                                                </tr>
                                                <tr>
                                                    <td>Total Amount for Children</td>
                                                    <td class="right-align"></td>
                                                </tr>
                                                <tr>
                                                    <td>Total GST Amount</td>
                                                    <td class="right-align"></td>
                                                </tr>
                                                <tr>
                                                    <th class="left-align">Total Expenditure on Travel</th>
                                                    <th class="right-align bg-success">12000000</th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    

                                    <div class="row" style="margin-top:5px; margin-bottom:10px;">
                                        <div class="col-md-12">
                                            <button class="btn btn-sm btn-success" onclick="openAddTravelMode()" type="button" style="float:right;">
                                                Add Travel Mode
                                            </button>
                                            <button class="btn btn-sm btn-primary" type="button" 
                                                style="float:right; margin-right: 5px;" onclick="go_to_next_tab('#nav-step-3')">
                                                Skip
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-12" id="add_travel_form_div" style="display:none;">
                                        <div class="card" style="margin-bottom:10px;">
                                            <div class="card-header card-border card-header-orange">
                                                Add New Travel Mode
                                            </div>
                                            <div class="card-body card-border" style="padding:10px;">
                                                <div class="col-md-12 alert bg-green-alert">
                                                    All the fields can be changed based on your requirements. `Source`, `Destination`, 
                                                    `No. of Adults` and `No.of Children` can be changed as per the travel mode.
                                                </div>

                                                <div id="error-msgs" class="alert alert-danger" style="display:none;padding: 5px;"></div>

                                                <form style="margin-bottom:0px;" id="travelmodeCreateForm" action="{% url 'add_travel_mode_cost' ins.id %}" method="post" class="form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id">
                                                    <div class="row" style="margin-top:10px;">
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-source" class="form-label">Source</label>
                                                            <input type="text" name="travel_mode-source" maxlength="250" 
                                                            class="form-control form_fields" required 
                                                            id="id_travel_mode-source" value="{{ ins.source }}">
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-destination" class="form-label">Destination</label>
                                                            <input type="text" name="travel_mode-destination" maxlength="250" 
                                                            class="form-control form_fields" required 
                                                            id="id_travel_mode-destination" value="{{ ins.destination }}">
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-travel_mode" class="form-label">Date of Travel</label>
                                                            {{ travel_mode_form.travel_date|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-travel_mode" class="form-label">Mode of Travel</label>
                                                            {{ travel_mode_form.travel_mode|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-travel_class_type" class="form-label">Travel Class Type</label>
                                                            {{ travel_mode_form.travel_class_type|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-distance" class="form-label">Distance</label>
                                                            {{ travel_mode_form.distance|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-vendor" class="form-label">Company</label>
                                                            {{ travel_mode_form.vendor|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-no_of_adults" class="form-label">No. Of Adults</label>
                                                            {{ travel_mode_form.no_of_adults|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_cost-cost_per_adult" class="form-label">Cost Per Adult</label>
                                                            {{ travel_cost_form.cost_per_adult|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-no_of_children" class="form-label">No. Of Children</label>
                                                            {{ travel_mode_form.no_of_children|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_cost-cost_per_child" class="form-label">Cost Per Child</label>
                                                            {{ travel_cost_form.cost_per_child|safe }}
                                                        </div>
                                                        
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-gst" class="form-label">Total GST Amount</label>
                                                            {{ travel_mode_form.gst|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-discount_type" class="form-label">Discount Type</label>
                                                            <select id="id_travel_mode-discount_type" class="form-control form_fields" onchange="get_total_amount()">
                                                                <option value="0">Percent</option>
                                                                <option value="1">Cash</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-discount" class="form-label">Total Discount</label>
                                                            {{ travel_mode_form.discount|safe }}
                                                        </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <label for="id_travel_mode-total_cost" class="form-label">Total Amount</label>
                                                            {{ travel_mode_form.total_cost|safe }}
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:5px; margin-bottom:10px;">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-sm btn-success" onclick="submit_travel_mode_cost_form()" type="button" style="float:right;">
                                                                Submit
                                                            </button>
                                                            <button class="btn btn-sm btn-primary" type="button" 
                                                                style="float:right; margin-right: 5px;" onclick="go_to_next_tab('#nav-step-3')">
                                                                Skip
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-step-3" role="tabpanel" aria-labelledby="step_4" tabindex="0">
                                hello
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){

            // Default Travel Class Type Setup 
            // =========================================================

            const travel_class_type = JSON.parse('{{travel_class_type|safe}}');

            html = "";
            $.each(travel_class_type["1"], function(key,value){
                html += "<option value='"+key+"'>"+value+"</option>";
            });

            $("#id_travel_mode-travel_class_type").empty().append(html);

            // Travel Mode On Change 
            // =========================================================
            
            $('#id_travel_mode-travel_mode').on('change', function() {
                html = "";
                entry = travel_class_type[$(this).val()];

                $.each(entry, function(key,value){
                    html += "<option value='"+key+"'>"+value+"</option>";
                });

                $("#id_travel_mode-travel_class_type").empty().append(html);
            });
        });

        // Travel Mode & Cost Creation
        // =========================================================

        function submit_travel_mode_cost_form(){
            passed_test = new Array();
            passed_test.push(validate_distance()); 
            passed_test.push(validate_no_of_adults()); 
            passed_test.push(validate_no_of_children()); 
            passed_test.push(validate_cost_per_adult());
            passed_test.push(validate_cost_per_child());
            passed_test.push(validate_gst());
            passed_test.push(validate_adult_children());
            passed_test.push(validate_discount());
            console.log(passed_test);

            error_msgs = {
                0: "Distance cannot be less than or equal to 0",
                1: "No.of Adults cannot be less than 0",
                2: "No.of Children cannot be less than 0",
                3: "Cost Per Adults cannot be less than 0",
                4: "Cost Per Child cannot be less than 0",
                5: "GST cannot be less than 0",
                6: "Both No. Of Adults and No. Of Children cannot be equal to 0",
                7: "Discount cannot be less than 0",
            }

            html = "";
            total_test_passed = 0;
            for(i=0; i<passed_test.length; i++){
                if (passed_test[i] == 0){
                    html += '<p style="padding: 0px;margin: 0px; font-size:80%;">'+error_msgs[i]+'</p>'
                }else{
                    total_test_passed += passed_test[i];
                }
            }

            console.log(total_test_passed)

            if (total_test_passed == 8){
                $("#error-msgs").empty().append(html).css("display", "none");
                $("#travelmodeCreateForm").submit();
            }else{
                $("#error-msgs").empty().append(html).css("display", "block");
            }
        }

        function validate_distance(){
            distance = parseFloat($("#id_travel_mode-distance").val());

            if (distance < 0){return 0;}
            else{return 1;} 
        }

        function validate_no_of_adults(){
            no_of_adults = parseInt($("#id_travel_mode-no_of_adults").val());

            if (no_of_adults < 0){return 0}
            else{return 1;} 
        }

        function validate_no_of_children(){
            no_of_children = parseInt($("#id_travel_mode-no_of_children").val());

            if (no_of_children < 0){return 0;}
            else{return 1;} 
        }

        function validate_cost_per_adult(){
            cost_per_adult = parseFloat($("#id_travel_cost-cost_per_adult").val());

            if (cost_per_adult < 0){return 0;}
            else{return 1;}
        }

        function validate_cost_per_child(){
            cost_per_child = parseFloat($("#id_travel_cost-cost_per_child").val());

            if (cost_per_child < 0){return 0;}
            else{return 1;}
        }

        function validate_gst(){
            gst = parseFloat($("#id_travel_mode-gst").val());

            if (gst < 0){return 0;}
            else{return 1;}
        }

        function validate_adult_children(){
            no_of_adults = parseInt($("#id_travel_mode-no_of_adults").val());
            no_of_children = parseInt($("#id_travel_mode-no_of_children").val());

            if (no_of_adults == 0 && no_of_children == 0){return 0;}
            else{return 1;}
        }

        function validate_discount(){
            discount = parseFloat($("#id_travel_mode-discount").val());

            if (discount < 0){return 0;}
            else{return 1;}
        }




        // Total Cost Calculation
        // =========================================================
        function get_total_amount(){
            no_of_adults = parseInt($("#id_travel_mode-no_of_adults").val());
            cost_per_adult = parseFloat($("#id_travel_cost-cost_per_adult").val());
            no_of_children = parseInt($("#id_travel_mode-no_of_children").val());
            cost_per_child = parseFloat($("#id_travel_cost-cost_per_child").val());
            gst = parseFloat($("#id_travel_mode-gst").val());
            discount = parseFloat($("#id_travel_mode-discount").val());

            cost = (no_of_adults * cost_per_adult) + (no_of_children * cost_per_child)
            total_amount = gst + cost

            if ($("#id_travel_mode-discount_type").val() == 0){
                total_amount = total_amount - (total_amount * (discount/100));
            }

            if ($("#id_travel_mode-discount_type").val() == 1){
                total_amount = total_amount - discount;
            }

            $("#id_travel_mode-total_cost").val(total_amount);
        }

        // Display Travel Mode Form
        // =========================================================
        function openAddTravelMode(){
            $("#add_travel_form_div").css("display","block");
        }

        // Open Tabs on Skip Button Click
        // =========================================================
        function go_to_next_tab(elem){
            $('#nav-tab a[href="'+elem+'"]').tab('show');
        }

    </script>


</body>
</html>